
<p>Hola {{nombre}}, tanto tiempo.</p>

{{#unless conocido}}
<a href="./admin/login">Log In</a>
{{/unless}}

{{!-- <a href="./users">Users</a> --}}
<a href="/salir">Sailr</a>

{{!-- <a href="./salir">SALIR!</a> --}}